.button {
  composes: btn btn-outline mb1 black from 'basscss/css/basscss.css';
  margin: 5px 5px;
}

.googleButton {
  composes: btn btn-primary mb1 bg-red from 'basscss/css/basscss.css';
  display: block;
  margin: 10px auto;
}

.errorMessage {
  color: #FF1744;
}
